/* .my-text-fieldLU {
  width: 70%;
  transform: translateX(10px);
}

.bt {
  transform: translateY(130%);
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);  
}

.form{
  transform: translateY(20px);
}
  
.auth-FormContainter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-color: transparent;
    background-color: #201A2B;
  }

a {
    text-decoration: none;
    color: white;
  } */


  .page-container {
    display: flex;
  }

  .form-container {
    flex:1;
    width: 50vh;
    height:450px;
    box-shadow: 10px;

  }
  .left-side{
    flex:1;
  }

  .right-side{
    flex:1;
  }

  .fields-container{
    transform: translateY(-25px);
    height: 170px;
    width:400px

  }
  .email{
    width: 300px;
    transform: translateY(15px);
  }
  .password{
    width: 300px;
    transform: translateY(15px);
  }

  .register-row{
    transform: translateY(30px);
  }

  .heading
{
  transform: translateY(-10px);
}




  